.waDateLabel {
  @extend .label;
  @extend .has-text-left;
  display: inline-block;
  vertical-align: top;
  width: 14rem;
  height: 3rem;
  margin: 1rem;
}

.waDateLabel__label {
  @extend .is-size-7;
  color: $grey-light;
}

.waDateLabel__date {
  @extend .is-size-6;
}

.waDateLabel--active {
  .waDateLabel__label {
    color: $primary;
  }
}
