.waDateLabel {
  @extend .label;
  display: inline-block;
  vertical-align: top;
  width: 7rem;
  height: 3rem;
  margin: 1rem;
}

.waDateLabel__label {
  @extend .is-size-7;
  @extend .has-text-left;
  @extend .has-text-grey-light;
}

.waDateLabel__date {
  @extend .is-size-6;
  @extend .has-text-left;
}

.waDateLabel--active {
  color: $primary;
  
  .waDateLabel__label {
    color: $primary
  }
}
