//TODO: import only the needed files from bulma
@import "../node_modules/bulma/bulma.sass";
@import "./components/index";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
